.pageWrap{
   height: 100vh;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   background-color: #212529;
   color: #f8f9fa;
}

.row{
  
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
    justify-content: center;
    text-align: center;
}