.user__posts{
   text-align: left; 
   background-color: #fff;
   margin-top: 20px;
   padding: 10px;
   

}




.user__new_post{
   background-color: #fff;
   margin: 10px 0;
   text-align: right;
   padding: 10px;
   border-bottom: 2px solid #ccc;
}
.user__new_post input{
   width: 300px;
   font-size: 13px;
   padding: 6px 0 4px 10px;
   border: 1px solid #cecece;
   background: #F6F6f6;
   border-radius: 8px;
}
.user__new_post textarea{
   /* = Убираем скролл */
   overflow: auto;

   /* = Убираем увеличение */
   resize: none;
   width: 100%;
   height: 60px;

   /* = Добавим фон, рамку, отступ*/
   background: #f6f6f6;
   border: 1px solid #cecece;
   border-radius: 8px 0 0 0;
   padding: 8px 0 8px 10px;
}
.user__new_post button{
   cursor: pointer;
   border: 1px solid #cecece;
   background: #f6f6f6;
   box-shadow: inset 0px 20px 20px #ffffff;
   border-radius: 8px;
   padding: 8px 14px;
   width: 120px;
   
}
.user__new_post button:hover{
   box-shadow: inset 0px -40px 20px #ffffff;
}
.user__new_post button:active{
   margin-top: 1px;
   margin-bottom: -1px;
   zoom: 1;
}
.user__new_post h2{
font-weight: 500;
font-size: 24px;
}