* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-weight: 500;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.container {
  font-size: 18px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 0 25px;
  width: 1300px;
}

.header {
  background-color: rgba(13, 0, 200, 0.9);
}

.header .header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: inherit;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__wrapper img {
  height: inherit;
}

.header .header__wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__wrapper ul li {
  list-style: none;
  margin: 0 20px;
}

.header .header__wrapper ul li a {
  text-decoration: none;
  color: #fafafa;
  -webkit-transition: .3s;
  transition: .3s;
}

.header .header__wrapper ul li a:hover {
  color: #ccc;
}

.mainpage .mainpage__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainpage .mainpage__wrapper .mainpage__navbar {
  font-weight: 600;
  text-align: left;
  height: 250px;
  width: 30%;
  margin: 20px 0;
}

.mainpage .mainpage__wrapper .mainpage__navbar ul li {
  padding: 10px 010px;
  margin: 2px auto;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.mainpage .mainpage__wrapper .mainpage__navbar ul li a {
  color: black;
}

.mainpage .mainpage__wrapper .mainpage__navbar ul li:hover {
  text-decoration: underline;
  background-color: #ccc;
  border-top-left-radius: 5px;
}

.mainpage .mainpage__wrapper .mainpage__content {
  background-color: #f0f0f0;
  width: 70%;
}

.mainpage .mainpage__wrapper .mainpage__content .mainpage__img {
  margin: 10px auto;
  height: 125px;
}

.mainpage .mainpage__wrapper .mainpage__content .mainpage__img img {
  height: inherit;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.mainpage .mainpage__wrapper .mainpage__content .content-user {
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainpage .mainpage__wrapper .mainpage__content .content-user img {
  height: 100px;
}

.mainpage .mainpage__wrapper .mainpage__content .content-user .content-user__info {
  font-size: 14px;
  margin: 0 0 0 10px;
  text-align: left;
}

.footer {
  background-color: brown;
}
/*# sourceMappingURL=app.css.map */